.git
.gitignore
.github
.vs
.vscode
Binaries
DerivedDataCache
Intermediate
Saved
.vsconfig
*.sln
*.slnx
*.suo
*.user
*.log
*.zip
Config/*backup*
Config/*before*
Config/*crash*
Content/
Plugins/
Automation_SarembokVE.slnx
Tools/Builder.zip
