{
    email admin@sarembok.com
    acme_ca https://acme-v02.api.letsencrypt.org/directory
}

sarembok.com {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    reverse_proxy sarembok-runtime:9000
}
